/* logseq table resizer v20220331 ======================= */
/* add rules to custom.css =============================== */
        .table th {
            position: relative;
        }
        .query-table-resizer {
            position: relative;
            top: -20px;
            float: right;
            margin-bottom: -18px;
            cursor: col-resize;
            user-select: none;
            border-right: 1px solid var(--ls-border-color);
            width: 10px; /* hitbox width */
            height: 20px; 
        }

        .query-table-resizer:active,
        .query-table-resizing {
            border-right: 2px solid rgb(255, 0, 0);
        }

        .custom-query table.table-auto {
            width: -webkit-fill-available;
            table-layout: fixed;
        }
        .custom-query .table-auto>thead>tr>th {
            border-bottom: 1px solid var(--ls-border-color);
        }
        .custom-query .table-auto>thead>tr>th {
            background-color: rgba(0, 0, 0, 0.1);
            padding: 3px 6px;
        }
        .custom-query .table-auto>tbody>tr>td.whitespace-nowrap {
            overflow-wrap: break-word;
            min-width: 20px;
            white-space: normal;
            font-weight: 300;
            font-size: 13px;
        }
        .custom-query .table-auto>tbody>tr>.whitespace-nowrap img {
            max-height: 120px;
            margin: 0;
        }
/* ==================================== end of table resizer */

/* ==========  BETTER SIDEBAR - shrinking panes w/ horizontal scroll 20240317 =======================================*/
    :root {
        --sidebarItemMinWidth: 250px;
        --sidebarItemMaxWidth: 650px;
    }

    .cp__right-sidebar-inner.flex.flex-col.h-full {
        overflow: auto;
        padding-top: 50px;
    }
    .cp__right-sidebar.open {
        max-width: 80vw;
        background-color: var(--ls-secondary-background-color);
        height: 100%;
    }
    .sidebar-item-list {
        width: fit-content;
        height: 95vh !important;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        align-content: flex-start;
        padding: 0 0px 0px 6px;
    }
    .cp__right-sidebar .sidebar-item {
        display: block; 
        overflow-y: auto;   
        min-width: var(--sidebarItemMinWidth) !important;
        max-width: var(--sidebarItemMaxWidth) !important;
        margin: 0px 3px;
        background-color: var(--ls-primary-background-color);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
        border: 1px solid black;
        border-radius: 6px;
        padding: 0.25rem 0;
        overflow-x: hidden;
        resize: horizontal;
        min-height: calc(95vh - 22px) !important;
        height: calc(95vh - 22px) !important;
    }
    .cp__right-sidebar .resizer {
        width: 6px;
        transition-delay: 0.1s;
        z-index: 10;
    }
    .cp__right-sidebar .resizer:hover {
        background-color: var(--ph-highlight-strong);
    }

    /* sliding panes */
    .sidebar-item.collapsed {
        display: inline-block;
        overflow: hidden;
        margin: 8px 3px;
        padding: 0.25px;
        resize: none;
        width: 38px !important;
        min-width: 38px !important;
        min-height: calc(95vh - 22px) !important;
        height: calc(95vh - 22px) !important;
    }
    .cp__right-sidebar .sidebar-item.collapsed .sidebar-item-header > button {
        width: 38px;
        align-items: start;
        margin: 12px 0;
        padding: 0.25rem;
    }
    .cp__right-sidebar .sidebar-item.collapsed .sidebar-item-header .ml-1.font-medium.overflow-hidden {
        margin-top: 1.5rem;
    }
    .sidebar-item.collapsed .rotating-arrow.collapsed {
        margin-top: 0px;
    }
    .sidebar-item.collapsed .rotating-arrow.collapsed svg {
        transform: rotate(180deg) translate(-2px, 5px);
        transition: none;
    }
    .sidebar-item.collapsed .ml-1.font-medium {
        margin-top: 2.5rem;
        transition: none;
        margin-left: -20px;
    }
     .cp__right-sidebar .sidebar-item .sidebar-item-header {
        position: sticky;
        background-color: var(--ls-secondary-background-color);
        z-index: 20;
        top:-6px;
        height: 36px;
        border-radius: 0;
    }
    .cp__right-sidebar .sidebar-item.collapsed .sidebar-item-header {
        position: static;
        height: auto;
        width:36px;
    }
    .cp__right-sidebar .sidebar-item.collapsed > .flex.flex-col.w-full.relative > .sidebar-item-header > button > div.ml-1 > div {
        writing-mode: vertical-lr !important;
    } 
     .cp__right-sidebar .sidebar-item.collapsed > .flex.flex-col.w-full.relative > .sidebar-item-header > button > div.ml-1 > div > span {
        padding: 0.5rem 0 0 0;
    }
    .cp__right-sidebar .sidebar-item.collapsed .item-actions.flex.items-center {
        align-items: start;
        position: absolute;
        top: 84vh;
    }

/* ======================================== end of BETTER-SIDEBAR =====*/
/* ==== hide special props ==========================*/
        div[data-refs-self="bg-pic"] {
            display: none !important;
        }
