/* logseq table resizer v20220329 ======================= */
/* add rules to custom.css =============================== */
        .table th {
            position: relative;
        }
        .query-table-resizer {
            /* Displayed at the right side of column */
            position: relative;
            top: -20px;
            right: 0;
            margin-bottom: -18px;
            cursor: col-resize;
            user-select: none;
            border-right: 1px solid var(--ls-border-color);
        }

        .query-table-resizer:active,
        .query-table-resizing {
            border-right: 2px solid rgb(255, 0, 0);
        }

        .custom-query table.table-auto {
            width: -webkit-fill-available;
            table-layout: fixed;
        }
        .custom-query .table-auto>thead>tr>th {
            border-bottom: 1px solid var(--ls-border-color);
        }
        .custom-query .table-auto>thead>tr>th {
            background-color: rgba(0, 0, 0, 0.1);
            padding: 3px 6px;
        }
        .custom-query .table-auto>tbody>tr>td.whitespace-nowrap {
            overflow-wrap: break-word;
            min-width: 20px;
            white-space: normal;
            font-weight: 300;
            font-size: 13px;
        }
        .custom-query .table-auto>tbody>tr>.whitespace-nowrap img {
            max-height: 120px;
            margin: 0;
        }
/* ==================================== end of table resizer */
